.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets/
*.tar.gz
data/raw/gencode*
data/processed/vienna/
.Renviron
.DS_Store
renv/library/
renv/staging/
renv/local/
report/*.tex
report/*.log
report/*_files/
